.hide {
    display: none;
}

.show {
    display: block;
}

#paginationSection {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#paginationButtons {
    list-style-type: none;
    text-align: center;
}

#paginationButtons li {
    display: inline;
}

#paginationButtons a {
    text-decoration: none;
}

.disableAnchor {
    pointer-events: none;
    cursor: default;
    color: #222;
}